<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Proyecto integrador</h4>
      <p>Desarrollo Web </p>
      <p>Frontend & Backend</p>
    </div>
    
    <div class="footer-section">
      <h4>Equipo docente</h4>
      <p>Gustavo Zammataro</p>
      <p>Federico Balbuena</p>
    </div>
    
    <div class="footer-section">
      <h4>Alumnos -MVPP-</h4>
      <p>Zancagnino A. • Reverol G.</p>
      <p>Salva V. • Singuri R.</p>
    </div>
    
    <div class="footer-section">
      <h4>Tecnologías</h4>
      <p>Angular • Express.js</p>
      <p>MongoDB • Node</p>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2025 RedPatitas - Proyecto MVPP Team</p>
  </div>
</footer>